<% include ./partials/header %>

<canvas class="homeBackground"></canvas>
<!-- Login Form -->
<div class="container d-flex justify-content-center">
  <form action="/register" method="POST" id="homeLogin">
    <h1 class="text-white text-center mb-3">Register</h1>
    <div class="form-group text-white">
      <label for="username">Username</label>
      <input type="text" class="form-control" placeholder="Username" name="username">
    </div>
    <div class="form-group text-white">
      <label for="password">Password</label>
      <br>
      <input type="password" class="form-control" placeholder="Password" name="password">
    </div>
    <div class="form-group text-white">
        <label>Profile Picture</label>
        <br>
        <input type="text" class="form-control" placeholder="image url link" name="userimage">
      </div>
    <input type="submit" value="Register" class="btn btn-info btn-block">
  </form>
</div>

<footer class="bg-dark" style="position:fixed; width:100%; height:50px; bottom:0; left:0;">
  <div class="container">
    <div class="d-flex justify-content-end pt-1">
      <a href="/blog/new" class="text-white" style="font-size: 2rem;"><i class="fas fa-plus-circle"></i></a>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>
  window.onload = function() {
    Particles.init({
      selector: '.homeBackground'
    });
  };
</script>
</body>
</html>